<div class="container">
  <div *ngFor="let row of rowRange">
    <div class="row my-5">
      <div class="col-2 mx-auto" style="border: 1px solid black; height: 18em">
        <a routerLink="{{ 1 }}">Link</a>
      </div>
      <div class="col-2 mx-auto" style="border: 1px solid black">2 of 4</div>
      <div class="col-2 mx-auto" style="border: 1px solid black">3 of 4</div>
      <div class="col-2 mx-auto" style="border: 1px solid black">4 of 4</div>
    </div>
  </div>
  <!-- <div class="row my-5">
    <div class="col-2 mx-auto" style="border: 1px solid black; height: 18em">
      <a routerLink="{{ 1 }}">Link</a>
    </div>
    <div class="col-2 mx-auto" style="border: 1px solid black">2 of 4</div>
    <div class="col-2 mx-auto" style="border: 1px solid black">3 of 4</div>
    <div class="col-2 mx-auto" style="border: 1px solid black">4 of 4</div>
  </div>
  <div class="row my-5">
    <div class="col-2 mx-auto" style="border: 1px solid black; height: 18em">
      1 of 4
    </div>
    <div class="col-2 mx-auto" style="border: 1px solid black">2 of 4</div>
    <div class="col-2 mx-auto" style="border: 1px solid black">3 of 4</div>
    <div class="col-2 mx-auto" style="border: 1px solid black">4 of 4</div>
  </div>
  <div class="row my-5">
    <div class="col-2 mx-auto" style="border: 1px solid black; height: 18em">
      1 of 4
    </div>
    <div class="col-2 mx-auto" style="border: 1px solid black">2 of 4</div>
    <div class="col-2 mx-auto" style="border: 1px solid black">3 of 4</div>
    <div class="col-2 mx-auto" style="border: 1px solid black">4 of 4</div>
  </div> -->
</div>
