<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
  style="background-color: #f5f0e1"
>
  <div>
    <div class="container pt-3 mb-5">
      <div class="d-flex justify-content-center row">
        <div class="col-md-8 px-5">
          <div class="p-2">
            <div
              class="d-flex flex-row justify-content-between align-items-center p-2 bg-white"
              style="border-radius: 1em; border: 1px solid #1e3d59"
            >
              <div class="feed-text px-2">
                <button class="btn btn-outline-dark" (click)="open()">
                  Add post
                </button>
              </div>
              <div class="feed-icon px-2">
                <i class="fa fa-long-arrow-up text-black-50"></i>
              </div>
              <div ngbDropdown class="d-inline-block me-2">
                <button
                  type="button"
                  class="btn btn-outline-dark"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                >
                  {{ selected }}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button
                    *ngFor="let album of albumsList"
                    (click)="filterAlbums(album.album)"
                    ngbDropdownItem
                  >
                    {{ album.album.name }}
                  </button>
                  <button (click)="filterAlbums(undefined)" ngbDropdownItem>
                    All
                  </button>
                </div>
              </div>
            </div>
            <div
              class="bg-white border shadow-sm mt-3"
              style="border-radius: 1em"
              *ngFor="let post of posts"
            >
              <div>
                <div
                  class="d-flex row flex-row justify-content-between align-items-center p-2"
                >
                  <div
                    class="d-flex flex-row align-items-center feed-text ps-3 col-4"
                  >
                    <img
                      class="rounded-circle"
                      [src]="post.collectorPP"
                      width="45"
                    />
                    <div class="d-flex flex-column flex-wrap ms-2">
                      <span class="font-weight-bold"
                        >{{ post.collector.name }}
                        {{ post.collector.surname }}</span
                      ><span class="text-black-50 time small">{{
                        getTime(post.dateTimeCreated)
                      }}</span>
                    </div>
                  </div>
                  <h5 class="col-4 text-center">{{ post.album.name }}</h5>
                  <div class="d-flex flex-column flex-wrap col-4">
                    <span class="text-end">
                      {{ post.phone }}
                      <i class="fas fa-phone-alt fa-xs me-2"></i>
                    </span>
                    <span class="text-end">
                      {{ post.location }}
                      <i class="fas fa-map-marked-alt fa-xs me-2"></i>
                    </span>
                  </div>
                </div>
              </div>
              <hr class="m-0" />
              <div class="p-2 px-3">
                <p *ngIf="post.description != ''" class="feed-p p-1 ps-2">
                  {{ post.description }}
                </p>
                <span class="small">Missing cards</span>
                <p class="feed-p p-1 ps-2">{{ post.missingStickers }}</p>
                <span class="small">Duplicate cards</span>
                <p class="feed-p p-1 ps-2">{{ post.duplicateStickers }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
