<div class="wrapper">
  <!-- <img src="../../assets/stickerbg2.jpg" width="100%" /> -->
  <div
    class="container d-flex justify-content-center align-items-center flex-column"
    style="height: 70%"
  >
    <div class="row">
      <h1 class="heading">Album Collector</h1>
    </div>
    <div class="row content">
      <p>
        Album collecting like never before. Must have platform for every
        collector. Keep track of your stickers, collect missing and add
        duplicates, see what others are up to and how they are doing, connect
        with collectors and exchange stickers.
        <br />
        ALL IN ONE PLACE.
      </p>
    </div>
  </div>
</div>
