<div class="wrapper">
  <div
    class="container d-flex justify-content-center align-items-center"
    style="height: 100%"
  >
    <form
      style="width: 50%"
      (ngSubmit)="login()"
      class="login-card bg-white px-4 pt-4 pb-3 shadow"
    >
      <div class="form-group my-1">
        <label>Email</label>
        <input
          class="form-control"
          type="text"
          placeholder="example@example.com"
          name="username"
          [(ngModel)]="username"
        />
      </div>
      <div class="form-group my-1">
        <label>Password</label>
        <input
          class="form-control"
          type="password"
          placeholder="Password"
          name="password"
          [(ngModel)]="password"
        />
      </div>
      <div class="text-center">
        <button
          class="btn mt-2"
          value="submit"
          style="background-color: #1e3d59; color: #f5f0e1"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
