<div class="modal-header">
  <div class="d-flex flex-row">
    <img class="rounded-circle" [src]="collectorPP" width="45" />
    <div class="d-flex flex-row justify-content-center align-items-center">
      <h6 class="m-0 p-0 font-weight-bold">{{ collectorName }}</h6>
    </div>
  </div>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form #myForm="ngForm">
    <!-- <label for="dateOfBirth">Date of birth</label> -->
    <!-- <div class="input-group">
        <input
          id="dateOfBirth"
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          ngbDatepicker
          #dp="ngbDatepicker"
        />
        <button
          class="btn btn-outline-secondary calendar"
          (click)="dp.toggle()"
          type="button"
        ></button>
      </div> -->
    <div ngbDropdown class="d-inline-block">
      <button
        type="button"
        class="btn btn-outline-dark"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        {{ selected }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button
          *ngFor="let album of albumsList"
          (click)="select(album.album)"
          ngbDropdownItem
        >
          {{ album.album.name }}
        </button>
      </div>
    </div>
    <!-- ----------------------------- -->
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea
        [(ngModel)]="post.description"
        name="description"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="form-group pt-3 row">
      <div class="col-6">
        <label for="exampleFormControlInput1">Phone</label>
        <input
          [(ngModel)]="post.phone"
          name="phone"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder=""
        />
      </div>
      <div class="col-6">
        <label for="exampleFormControlInput1">Place</label>
        <input
          [(ngModel)]="post.location"
          name="place"
          type="text"
          class="form-control"
          id="ul. Example br. X"
          placeholder=""
        />
      </div>
    </div>
    <div class="row">
      <label class="col-6" for="exampleFormControlTextarea1">Missing</label>
      <label class="col-6" for="exampleFormControlTextarea1">Duplicates</label>
    </div>
    <div class="row">
      <div class="col-6">
        <textarea
          *ngIf="urlMissing == ''"
          [(ngModel)]="post.missingStickers"
          name="missing"
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
        <img
          class="col-12"
          *ngIf="urlMissing != ''"
          [src]="urlMissing"
          [(ngModel)]="post.missingCardsImg"
          name="missingImage"
        />
      </div>
      <div class="col-6">
        <textarea
          *ngIf="urlDuplicates == ''"
          [(ngModel)]="post.duplicateStickers"
          name="duplicates"
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
        <img
          *ngIf="urlDuplicates != ''"
          [src]="urlDuplicates"
          class="col-12"
          [(ngModel)]="post.duplicateCardsImg"
          name="duplicatesImage"
        />
      </div>
    </div>
    <div class="row">
      <div class="mt-2 btn-group col-6">
        <button class="btn btn-outline-dark" (click)="importStickers('m')">
          Input missing from profile
        </button>
        <button class="btn btn-outline-dark" (click)="imageMissing.click()">
          Upload photo
          <input
            type="file"
            #imageMissing
            hidden
            (change)="onFileSelected($event, 'm')"
          />
        </button>
      </div>
      <div class="mt-2 btn-group col-6">
        <button class="btn btn-outline-dark" (click)="importStickers('d')">
          Input duplicates from profile
        </button>

        <button class="btn btn-outline-dark" (click)="imageDuplicates.click()">
          Upload photo
          <input
            type="file"
            #imageDuplicates
            hidden
            (change)="onFileSelected($event, 'd')"
          />
        </button>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Cancel
  </button>
  <button
    type="button"
    class="btn"
    style="background-color: #1e3d59; color: #f5f0e1"
    (click)="submit()"
  >
    Submit
  </button>
</div>
